.BodySecondUpperPartContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 80px;
    gap: 160px;
    isolation: isolate;
    width: 1920px;
    height: 1060px;
    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
    background: #FFFFFF;
}

.BodySecondUpperPartTextContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;
    width: 1180px;
    height: 610px;
    flex: none;
    order: 1;
    flex-grow: 1;
    z-index: 1;
}

.BodySecondUpperPartTextSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 1180px;
    max-height: 152px;
    flex: none;
    order: 0;
    flex-grow: 1;
    z-index: 1;
    margin-bottom: 48px;
}

.BodySecondUpperPartCaption {
    width: 1180px;
    height: 22px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: #D97706;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.BodySecondUpperPart {
    width: 1180px;
    height: 62px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 62px;
    color: #0F172A;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.BodySecondUpperPartHeadLine {
    width: 1180px;
    height: 62px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 62px;
    color: #0F172A;
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}

.BodySecondUpperPartParagraph {
    width: 1180px;
    height: 36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: #0F172A;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.BodySecondUpperPartRow1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;
    width: 1180px;
    height: auto;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.BodySecondUpperPartBlock1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    isolation: isolate;
    width: 566px;
    height: 181px;
    background: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 1;
    gap: 16px;
}

.BodySecondUpperPartBlock1Title {
    width: 566px;
    max-height: 27px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    color: #0F172A;
    flex: none;
    order: 0;
    flex-grow: 1;
}

.BodySecondUpperPartBlock1Text {
    width: 566px;
    max-height: 58px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #0F172A;
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}

@media (max-width: 800px) {
    .BodySecondUpperPartContainer {
        grid-template-columns: repeat(1, 1fr);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 48px 16px;
        gap: 64px;
        isolation: isolate;
        width: 375px;
        height: 1425.43px;
        flex: none;
        order: 3;
        align-self: stretch;
        flex-grow: 0;
    }

    .BodySecondUpperPartTextContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .BodySecondUpperPartTextSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 24px;
        width: 343px;
        height: 154px;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        z-index: 0;
    }

    .BodySecondUpperPartCaption {
        width: 343px;
        height: 18px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        color: #D97706;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }

    .BodySecondUpperPartHeadLine {
        width: 343px;
        height: 36px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 35px;
        text-align: center;
        color: #0F172A;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }

    .BodySecondUpperPartParagraph {
        width: 343px;
        height: 68px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #0F172A;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }

    .BodySecondUpperPartRow1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 48px;
        isolation: isolate;
        width: 343px;
        height: 576px;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
        z-index: 1;
    }

    .BodySecondUpperPartBlock1 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 48px;
        width: 343px;
        height: 253px;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        z-index: 0;
    }

    .BodySecondUpperPartBlock1Title {
        width: 147.5px;
        height: 22px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 22px;
        text-align: center;
        color: #0F172A;
        flex: none;
        order: 0;
        flex-grow: 1;
    }

    .BodySecondUpperPartBlock1Text {
        width: 147.5px;
        height: 135px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #0F172A;
        flex: none;
        order: 3;
        align-self: stretch;
        flex-grow: 0;
    }

    .BodySecondUpperPartMobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        width: 220px;
        height: 471.43px;
        flex: none;
        order: 2;
        flex-grow: 0;
        z-index: 2;
    }
}