.mainHeader {
    display: flex;
    flex-direction: column;
    isolation: isolate;
    width: 1920px;
    height: 812px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    z-index: 0;
    background-color: #f9fafb;
}

.headerActions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 24px 80px;
    background-color: #f9fafb;
    width: 100%;
    max-width: 1920px;
    height: 112px;
    position: relative;
    z-index: 7;
    align-self: stretch;
    flex-grow: 0;
    flex: none;
}

.container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding: 0;
    gap: 38px;
    flex-grow: 1;
    margin: 0;
    width: 100%;
}

.name {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 81px;
    height: 36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;
    color: #0F172A;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.navContainer {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding: 0;
    flex-grow: 1;
    gap: 16px;
    margin: 0 760px 0 38px;
}

.nav {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    padding: 12px 8px;
    gap: 8px;
    width: auto;
}

.products {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    padding: 12px 8px;
    gap: 8px;
    width: 85px;
    height: 48px;
    flex: none;
    order: 0;
    align-self: center;
    flex-grow: 0;
}

.solutions {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 8px;
    gap: 8px;
    width: 88px;
    height: 48px;
    flex: none;
    order: 1;
    align-self: center;
    flex-grow: 0;
}

.services {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 8px;
    gap: 8px;
    width: 81px;
    height: 48px;
    flex: none;
    order: 2;
    align-self: center;
    flex-grow: 0;
}

.configure {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 8px;
    gap: 8px;
    width: 90px;
    height: 48px;
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}

.nav a {
    width: 69px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #0F172A;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.nav a:hover {
    color: #7E22CE;
    transform: scale(1.1);
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 2px;
    gap: 16px;
    width: 100%;
    height: 64px;
    flex: none;
    order: 1;
    flex-grow: 0;
    transition: color 0.3s ease;
}

.phone {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 8px;
    isolation: isolate;
    width: auto;
    height: 48px;
    border-radius: 100px;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #0369A1;
    transition: color 0.3s ease;
}

.phone:hover {
    color: #7E22CE;
    font-weight: bolder;
}

.headphone {
    margin-right: 16px;
}

.phoneNumber {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-size: 16px;
    color: #0369A1;
    white-space: nowrap;
}

.headerQuote {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: baseline;
    justify-items: center;
    width: 100%;
    max-width: 1920px;
    height: 700px;
    background-color: #f9fafb;
    margin-bottom: 59px;
}

.quoteHeader {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    height: 614px;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
    margin-top: 27px;
    margin-left: 80px;
}

.headerTextSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 600px;
    height: 348px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.headerTexTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 600px;
    height: 159px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.headerBoldText {
    width: 600px;
    height: 159px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 79px;
    color: #0F172A;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 0;
    padding: 0;
}

.headerSubText {
    width: 600px;
    height: 77px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    color: #0F172A;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 24px 0;
}

.headerQuoteButton {
    display: flex;
}

.headerCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 100%;
    max-width: 600px;
    height: 138px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.headerCardQuote {
    width: 600px;
    height: 58px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #0F172A;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.clientCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 16px;
}

.clientInfo {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    font-style: normal;
}

.clientName {
    font-weight: 500;
    color: #0F172A;
}

.clientSite {
    font-weight: 300;
    color: #585252;
}

.mainImageContainer {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 24px;
    isolation: isolate;
    height: 732px;
    flex: none;
    order: 2;
    flex-grow: 1;
    z-index: 2;
    margin-left: 80px;
}

.headerImage {
    width: 673px;
    height: 694px;
    gap: 0px;
    opacity: 0px;
    margin-left: 487px;
    clip-path: ellipse(55% 45% at 80% 15%);
    overflow: hidden;
}

@media (max-width: 800px) {
    .mainHeader {
        grid-template-columns: repeat(1, 1fr);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 16px;
        margin: 0;
    }
    .navContainer, .actions, .mainImageContainer {
        display: none; 
    }
    .name {
        order: 0;
        margin-bottom: 16px;
        font-size: 32px;
    }
    .headerQuote {
        margin-bottom: 24px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .headerTextSection {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}