.quoteButtonYellow {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 24px;
    width: 306px;
    height: 64px;
    border: 2px solid #FCD34D;
    border-radius: 100px;
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.quoteButtonYellow:hover {
    background-color: #FCD34D;
    border-color: #FCD34D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.requestYellow {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #FCD34D;
    transition: color 0.3s ease;
    margin-right: 16px;
}

.arrowYellow {
    width: 24px;
    height: 24px;
    color: #FCD34D;
    transition: color 0.3s ease;
}

.quoteButtonYellow:hover .requestYellow {
    color: #78350F;

}

.quoteButtonYellow:hover .arrowYellow {
    color: #78350F;
}